<script src="https://192.168.1.120:3000/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js"></script>

<%- include('layouts/header') %>
<div class="page">
    <%- include('layouts/usersList') %>
    <%- include('layouts/chat')%>
    <%- include('layouts/visio')%>
</div>
<%- include('layouts/footer') %>
<script src="/assets/script/connectedUsersSocket.js"></script>
<script src="assets/script/chat.js"></script>
<script src="assets/script/visio.js"></script>
<script src="assets/script/notification.js"></script>