<script src="/socket.io/socket.io.js"></script>
<%- include('layouts/header') %>
<div class="page">
    <%- include('layouts/usersList') %>
    <%- include('layouts/chat')%>
    <%- include('layouts/visio')%>
</div>
<%- include('layouts/footer') %>
<script type="text/javascript" src="/assets/script/connectedUsersSocket.js"></script>
<script src="assets/script/chat.js"></script>
<script src="assets/script/visio.js"></script>